<!--<section class="bg-image img-responsive" style="-->
<!--        background-image: url('https://imgur.com/COHg2RR.png');-->
<!--        background-size:100% 100%;-->
<!--        ">-->
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Sign in</h3>
              <form (ngSubmit)="login()" #f="ngForm">
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="username" name="username" class="form-control mb-2" required
                         #username="ngModel" [(ngModel)]="user.username">
                  <label class="form-label" for="username">Gebruikersnaam</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="password" name="password" class="form-control mb-2" required
                         #password="ngModel" [(ngModel)]="user.password">
                  <label class="form-label" for="password">Wachtwoord</label>
                </div>
                <div>
                  <label class="form-label" style="color: red" for="username">{{ message$ | async }}</label>
                </div>
                <button [disabled]="!f.valid" class="btn btn-primary">Log in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
