<p>
  <button [disabled]="deel <= 0" (click)="vorige()">Vorige</button>
  <button [disabled]="deel >= vragenlijst.length-1" (click)="volgende()">Volgende</button>
</p>

<form>
  @for (onderdeel of vragenlijst; track $index) {
    <app-vragenlijst-onderdeel [hidden]="!isDeel($index)" [vragenlijstOnderdeel]="onderdeel" (antwoordenGekregen)="addAntwoorden($event)"></app-vragenlijst-onderdeel>
  }
</form>
<p>
  <button [disabled]="!isDeel(vragenlijst.length-1)" (click)="saveAntwoorden()">Verstuur antwoorden</button>
</p>

<p>
  <button [disabled]="deel <= 0" (click)="vorige()">Vorige</button>
  <button [disabled]="deel >= vragenlijst.length-1" (click)="volgende()">Volgende</button>
</p>


